.svg-arrow {
	background: url("sprite.css-aed4b7c0.svg") 99.80582524271844% 43.75614552605703% no-repeat;
}

.svg-arrow-x {
	width: 5px;
	height: 9px;
}

.svg-arrow2 {
	background: url("sprite.css-aed4b7c0.svg") 99.87046632124353% 44.59724950884087% no-repeat;
}

.svg-arrow2-x {
	width: 6px;
	height: 8px;
}

.svg-arrow3 {
	background: url("sprite.css-aed4b7c0.svg") 99.93519118600129% 42.81496062992126% no-repeat;
}

.svg-arrow3-x {
	width: 7px;
	height: 10px;
}

.svg-arrow5 {
	background: url("sprite.css-aed4b7c0.svg") 99.54098360655738% 53.64891518737672% no-repeat;
}

.svg-arrow5-x {
	width: 25px;
	height: 12px;
}

.svg-bann-icon {
	background: url("sprite.css-aed4b7c0.svg") 91.36641740312713% 81.6842105263158% no-repeat;
}

.svg-bann-icon-x {
	width: 79px;
	height: 76px;
}

.svg-bann-icon2 {
	background: url("sprite.css-aed4b7c0.svg") 85.92896174863388% 82.02959830866807% no-repeat;
}

.svg-bann-icon2-x {
	width: 86px;
	height: 80px;
}

.svg-bg {
	background: url("sprite.css-aed4b7c0.svg") 50.66548358473824% 34.19421487603306% no-repeat;
}

.svg-bg-x {
	width: 423px;
	height: 58px;
}

.svg-cart {
	background: url("sprite.css-aed4b7c0.svg") 99.47712418300654% 74.08142999006951% no-repeat;
}

.svg-cart-x {
	width: 20px;
	height: 19px;
}

.svg-cart-banner2 {
	background: url("sprite.css-aed4b7c0.svg") 93.01369863013699% 58.521560574948666% no-repeat;
}

.svg-cart-banner2-x {
	width: 90px;
	height: 52px;
}

.svg-check {
	background: url("sprite.css-aed4b7c0.svg") 90.74315514993481% 66.43564356435644% no-repeat;
}

.svg-check-x {
	width: 16px;
	height: 16px;
}

.svg-check-in-img {
	background: url("sprite.css-aed4b7c0.svg") 0 57.266435986159166% no-repeat;
}

.svg-check-in-img-x {
	width: 571px;
	height: 448px;
}

.svg-check2 {
	background: url("sprite.css-aed4b7c0.svg") 98.57142857142857% 55.0098231827112% no-repeat;
}

.svg-check2-x {
	width: 10px;
	height: 8px;
}

.svg-check3 {
	background: url("sprite.css-aed4b7c0.svg") 95.19168291098116% 66.10837438423646% no-repeat;
}

.svg-check3-x {
	width: 11px;
	height: 11px;
}

.svg-close-i {
	background: url("sprite.css-aed4b7c0.svg") 93.62808842652795% 66.23889437314907% no-repeat;
}

.svg-close-i-x {
	width: 12px;
	height: 13px;
}

.svg-close2 {
	background: url("sprite.css-aed4b7c0.svg") 99.67234600262123% 56.88622754491018% no-repeat;
}

.svg-close2-x {
	width: 24px;
	height: 24px;
}

.svg-delete {
	background: url("sprite.css-aed4b7c0.svg") 99.41253263707571% 77.13717693836978% no-repeat;
}

.svg-delete-x {
	width: 18px;
	height: 20px;
}

.svg-delivery-i1 {
	background: url("sprite.css-aed4b7c0.svg") 93.67930805056554% 86.46464646464646% no-repeat;
}

.svg-delivery-i1-x {
	width: 47px;
	height: 36px;
}

.svg-delivery-i2 {
	background: url("sprite.css-aed4b7c0.svg") 96.8063872255489% 86.3773965691221% no-repeat;
}

.svg-delivery-i2-x {
	width: 47px;
	height: 35px;
}

.svg-delivery-img {
	background: url("sprite.css-aed4b7c0.svg") 74.73512632436838% 45.33799533799534% no-repeat;
}

.svg-delivery-img-x {
	width: 323px;
	height: 168px;
}

.svg-delivery-img2 {
	background: url("sprite.css-aed4b7c0.svg") 0 0 no-repeat;
}

.svg-delivery-img2-x {
	width: 629px;
	height: 331px;
}

.svg-delivery-img3 {
	background: url("sprite.css-aed4b7c0.svg") 68.29533116178067% 0 no-repeat;
}

.svg-delivery-img3-x {
	width: 629px;
	height: 331px;
}

.svg-edit {
	background: url("sprite.css-aed4b7c0.svg") 99.34768427919113% 78.96825396825396% no-repeat;
}

.svg-edit-x {
	width: 17px;
	height: 18px;
}

.svg-exit {
	background: url("sprite.css-aed4b7c0.svg") 91.78617992177314% 66.43564356435644% no-repeat;
}

.svg-exit-x {
	width: 16px;
	height: 16px;
}

.svg-fc {
	background: url("sprite.css-aed4b7c0.svg") 97.57853403141361% 59.56175298804781% no-repeat;
}

.svg-fc-x {
	width: 22px;
	height: 22px;
}

.svg-filter {
	background: url("sprite.css-aed4b7c0.svg") 99.80430528375734% 64.33497536945812% no-repeat;
}

.svg-filter-x {
	width: 17px;
	height: 11px;
}

.svg-gm {
	background: url("sprite.css-aed4b7c0.svg") 99.01832460732984% 59.56175298804781% no-repeat;
}

.svg-gm-x {
	width: 22px;
	height: 22px;
}

.svg-icon-catalog1 {
	background: url("sprite.css-aed4b7c0.svg") 90.53333333333333% 63.66427840327533% no-repeat;
}

.svg-icon-catalog1-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog2 {
	background: url("sprite.css-aed4b7c0.svg") 93.86666666666666% 63.66427840327533% no-repeat;
}

.svg-icon-catalog2-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog3 {
	background: url("sprite.css-aed4b7c0.svg") 97.2% 63.66427840327533% no-repeat;
}

.svg-icon-catalog3-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog4 {
	background: url("sprite.css-aed4b7c0.svg") 94.86666666666666% 79.42681678607984% no-repeat;
}

.svg-icon-catalog4-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog5 {
	background: url("sprite.css-aed4b7c0.svg") 98.2% 79.42681678607984% no-repeat;
}

.svg-icon-catalog5-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog6 {
	background: url("sprite.css-aed4b7c0.svg") 83.86666666666666% 87.61514841351075% no-repeat;
}

.svg-icon-catalog6-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog7 {
	background: url("sprite.css-aed4b7c0.svg") 87.2% 87.61514841351075% no-repeat;
}

.svg-icon-catalog7-x {
	width: 50px;
	height: 49px;
}

.svg-icon-catalog8 {
	background: url("sprite.css-aed4b7c0.svg") 90.53333333333333% 87.61514841351075% no-repeat;
}

.svg-icon-catalog8-x {
	width: 50px;
	height: 49px;
}

.svg-icon-header1 {
	background: url("sprite.css-aed4b7c0.svg") 99.73544973544973% 62.51256281407035% no-repeat;
}

.svg-icon-header1-x {
	width: 38px;
	height: 31px;
}

.svg-icon-header2 {
	background: url("sprite.css-aed4b7c0.svg") 99.07651715039577% 85.85757271815446% no-repeat;
}

.svg-icon-header2-x {
	width: 34px;
	height: 29px;
}

.svg-icon-header3 {
	background: url("sprite.css-aed4b7c0.svg") 99.80276134122288% 34.409687184661955% no-repeat;
}

.svg-icon-header3-x {
	width: 29px;
	height: 35px;
}

.svg-icon-header4 {
	background: url("sprite.css-aed4b7c0.svg") 99.60629921259843% 49.249249249249246% no-repeat;
}

.svg-icon-header4-x {
	width: 26px;
	height: 27px;
}

.svg-icon-menu {
	background: url("sprite.css-aed4b7c0.svg") 99.80276134122288% 37.75100401606426% no-repeat;
}

.svg-icon-menu-x {
	width: 29px;
	height: 30px;
}

.svg-icon-menu2 {
	background: url("sprite.css-aed4b7c0.svg") 99.80276134122288% 40.72216649949849% no-repeat;
}

.svg-icon-menu2-x {
	width: 29px;
	height: 29px;
}

.svg-icon-menu3 {
	background: url("sprite.css-aed4b7c0.svg") 99.73718791064388% 46.49298597194389% no-repeat;
}

.svg-icon-menu3-x {
	width: 28px;
	height: 28px;
}

.svg-icon-menu4 {
	background: url("sprite.css-aed4b7c0.svg") 99.67170059093894% 51.84815184815185% no-repeat;
}

.svg-icon-menu4-x {
	width: 27px;
	height: 25px;
}

.svg-icon1 {
	background: url("sprite.css-aed4b7c0.svg") 83.69926813040586% 91.50657229524772% no-repeat;
}

.svg-icon1-x {
	width: 47px;
	height: 37px;
}

.svg-img-b1 {
	background: url("sprite.css-aed4b7c0.svg") 0 100% no-repeat;
}

.svg-img-b1-x {
	width: 344px;
	height: 247px;
}

.svg-img1 {
	background: url("sprite.css-aed4b7c0.svg") 47.42524916943522% 54.7887323943662% no-repeat;
}

.svg-img1-x {
	width: 346px;
	height: 316px;
}

.svg-img2 {
	background: url("sprite.css-aed4b7c0.svg") 28.01302931596091% 93.0704898446834% no-repeat;
}

.svg-img2-x {
	width: 322px;
	height: 189px;
}

.svg-img3 {
	background: url("sprite.css-aed4b7c0.svg") 100% 0 no-repeat;
}

.svg-img3-x {
	width: 292px;
	height: 293px;
}

.svg-img5 {
	background: url("sprite.css-aed4b7c0.svg") 97.51937984496124% 39.11882510013351% no-repeat;
}

.svg-img5-x {
	width: 260px;
	height: 277px;
}

.svg-in {
	background: url("sprite.css-aed4b7c0.svg") 99.60732984293193% 68.52589641434263% no-repeat;
}

.svg-in-x {
	width: 22px;
	height: 22px;
}

.svg-inf {
	background: url("sprite.css-aed4b7c0.svg") 92.82920469361147% 66.36993076162216% no-repeat;
}

.svg-inf-x {
	width: 16px;
	height: 15px;
}

.svg-like {
	background: url("sprite.css-aed4b7c0.svg") 99.54218443427077% 70.43650793650794% no-repeat;
}

.svg-like-x {
	width: 21px;
	height: 18px;
}

.svg-like2 {
	background: url("sprite.css-aed4b7c0.svg") 99.54218443427077% 72.22222222222223% no-repeat;
}

.svg-like2-x {
	width: 21px;
	height: 18px;
}

.svg-list-i1 {
	background: url("sprite.css-aed4b7c0.svg") 92.95681063122923% 95.92668024439918% no-repeat;
}

.svg-list-i1-x {
	width: 45px;
	height: 44px;
}

.svg-list-i2 {
	background: url("sprite.css-aed4b7c0.svg") 99.9341672152732% 29.959100204498977% no-repeat;
}

.svg-list-i2-x {
	width: 31px;
	height: 48px;
}

.svg-lk-icon1 {
	background: url("sprite.css-aed4b7c0.svg") 86.04651162790698% 73.34754797441364% no-repeat;
}

.svg-lk-icon1-x {
	width: 88px;
	height: 88px;
}

.svg-lk-icon2 {
	background: url("sprite.css-aed4b7c0.svg") 92.0656634746922% 73.34754797441364% no-repeat;
}

.svg-lk-icon2-x {
	width: 88px;
	height: 88px;
}

.svg-lk-icon3 {
	background: url("sprite.css-aed4b7c0.svg") 98.08481532147742% 73.34754797441364% no-repeat;
}

.svg-lk-icon3-x {
	width: 88px;
	height: 88px;
}

.svg-logo {
	background: url("sprite.css-aed4b7c0.svg") 86.75862068965517% 62.77533039647577% no-repeat;
}

.svg-logo-x {
	width: 100px;
	height: 118px;
}

.svg-logo-mob {
	background: url("sprite.css-aed4b7c0.svg") 98.0365605958023% 57.11422845691383% no-repeat;
}

.svg-logo-mob-x {
	width: 73px;
	height: 28px;
}

.svg-map-i {
	background: url("sprite.css-aed4b7c0.svg") 99.93489583333333% 59.09090909090909% no-repeat;
}

.svg-map-i-x {
	width: 14px;
	height: 14px;
}

.svg-map-i2 {
	background: url("sprite.css-aed4b7c0.svg") 94.578706727629% 59.68063872255489% no-repeat;
}

.svg-map-i2-x {
	width: 19px;
	height: 24px;
}

.svg-minus {
	background: url("sprite.css-aed4b7c0.svg") 99.22077922077922% 54.74095796676442% no-repeat;
}

.svg-minus-x {
	width: 10px;
	height: 3px;
}

.svg-plus {
	background: url("sprite.css-aed4b7c0.svg") 95.84415584415585% 66.04330708661418% no-repeat;
}

.svg-plus-x {
	width: 10px;
	height: 10px;
}

.svg-point {
	background: url("sprite.css-aed4b7c0.svg") 99.54098360655738% 54.403131115459885% no-repeat;
}

.svg-point-x {
	width: 25px;
	height: 4px;
}

.svg-rating {
	background: url("sprite.css-aed4b7c0.svg") 88.58447488584476% 66.50148662041626% no-repeat;
}

.svg-rating-x {
	width: 17px;
	height: 17px;
}

.svg-rating-active {
	background: url("sprite.css-aed4b7c0.svg") 89.69341161121983% 66.50148662041626% no-repeat;
}

.svg-rating-active-x {
	width: 17px;
	height: 17px;
}

.svg-search {
	background: url("sprite.css-aed4b7c0.svg") 99.47575360419397% 43.6308926780341% no-repeat;
}

.svg-search-x {
	width: 24px;
	height: 29px;
}

.svg-tb-icon1 {
	background: url("sprite.css-aed4b7c0.svg") 83.69926813040586% 96.22063329928498% no-repeat;
}

.svg-tb-icon1-x {
	width: 47px;
	height: 47px;
}

.svg-tb-icon2 {
	background: url("sprite.css-aed4b7c0.svg") 86.82634730538922% 96.22063329928498% no-repeat;
}

.svg-tb-icon2-x {
	width: 47px;
	height: 47px;
}

.svg-tb-icon3 {
	background: url("sprite.css-aed4b7c0.svg") 89.95342648037258% 96.22063329928498% no-repeat;
}

.svg-tb-icon3-x {
	width: 47px;
	height: 47px;
}

.svg-toggler {
	background: url("sprite.css-aed4b7c0.svg") 94.469746258946% 66.23889437314907% no-repeat;
}

.svg-toggler-x {
	width: 13px;
	height: 13px;
}

.svg-vk {
	background: url("sprite.css-aed4b7c0.svg") 98.69109947643979% 64.39842209072978% no-repeat;
}

.svg-vk-x {
	width: 22px;
	height: 12px;
}

.svg-vk2 {
	background: url("sprite.css-aed4b7c0.svg") 96.13368283093054% 59.68063872255489% no-repeat;
}

.svg-vk2-x {
	width: 24px;
	height: 24px;
}

